/* Containerul principal al paginii */
.auth-page-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

/* Mesaj de succes */
.success-message {
    color: var(--color-robin-egg-blue);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Containerul pentru comutarea între Sign Up și Sign In */
.auth-toggle-container {
    text-align: center;
    margin-top: 10px;
}

/* Butonul pentru comutarea formularului */
.auth-toggle-button {
    background: none;
    border: none;
    color: var(--color-robin-egg-blue);
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
}

.auth-toggle-button:hover {
    color: #37b0a3;
}
