.container {
    display: flex;
    flex-direction: column; /* Asigură că totul se aliniază pe verticală pe ecrane mici */
    justify-content: center;
    align-items: center;
    background-color: var(--color-white2);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--color-black-transparent);
    margin: 20px auto;
    width: 100%; /* Se ajustează automat la dimensiunea ecranului */
    max-width: 600px; /* Limitează lățimea maximă */
    box-sizing: border-box; /* Include padding și border în dimensiune */
}

.profile-picture {
    text-align: center;
    margin-bottom: 20px; /* Ajustare pentru ecrane mici */
}

.profile-picture img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

.profile-settings {
    width: 100%; /* Asigură că ocupă lățimea containerului */
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin-bottom: 20px;
    width: 100%; /* Se scalează cu containerul */
}

.input-group input {
    width: 100%; /* Umple întreaga lățime a grupului */
    max-width: 400px; /* Asigură aceeași lățime ca input-urile */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--color-white2);
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group input:focus {
    border-color: black; /* Evidențiază bordura la focus */
    outline: none;
    box-shadow: 0 0 5px var(--color-black-transparent); /* Glow albastru la focus */
}

.profile-settings h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.view-routes-button,
.save-button {
    width: 100%; /* Se scalează cu containerul */
    max-width: 400px; /* Asigură aceeași lățime ca input-urile */
    background-color: var(--color-darkblue1);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.view-routes-button:hover,
.save-button:hover {
    background-color: var(--color-darkblue2);
}

.logout-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

