.container {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--color-white2);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--color-black-transparent);
    margin: 20px auto;
    max-width: 50%;
}

.profile-picture {
    text-align: center;
    margin-right: 20px;
}

.profile-picture img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.profile-settings {
    flex: 1;
    flex-direction: column;
    margin: 0 10px;
}
.input-group {
    display: flex;
    flex-direction: column; /* Aliniază elementele pe axa verticală */
    gap: 10px; /* Spațiu între casete */
    margin-bottom: 20px; /* Spațiu între grupul de input-uri și butoane */
  }
  
  .input-group input {
    width: 100%; /* Asigură-te că input-urile ocupă toată lățimea disponibilă */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .input-group input:focus {
    border-color: black; /* Evidențiază bordura la focus */
    outline: none;
    box-shadow: 0 0 5px var(--color-black-transparent); /* Glow albastru la focus */
  }
.profile-settings h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.view-routes-button,
.save-button {
    background-color: var(--color-darkblue1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 400px; /* Ocupă întreaga lățime disponibilă în container */
    margin-top: 10px;
    box-sizing: border-box; /* Include padding și border în dimensiune */
}

.view-routes-button:hover,
.save-button:hover {
    background-color: var(--color-darkblue2);
}

.logout-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
