/* Container general */
.map-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

/* Container pentru hartă și listă */
.map-content-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); /* Fixează înălțimea */
  gap: 20px;
}

/* Stil pentru hartă */
.map-container {
  flex: 2;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

