.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-white2);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--color-black-transparent);
    margin: 100px auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrare pe mijloc */
    width: 100%;
}

.profile-picture {
    text-align: center;
    padding: 20px;
}

.profile-picture img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.profile-settings {
    width: 100%;
    padding: 20px;
}

.profile-settings h4 {
    margin-bottom: 20px;
}

.display-group {
    padding-left: 0px; /* Aliniere la stânga */
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spațiu între butoane */
    width: 100%;
    align-items: flex-start; /* Aliniere la stânga */
    padding-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.view-routes-button,
.edit-button,
.save-button {
    background-color: var(--color-darkblue1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}

.view-routes-button:hover,
.edit-button:hover,
.save-button:hover {
    background-color: var(--color-darkblue2);
}

.logout-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #dd7d72;
}
